* {
    box-sizing: border-box;
}

.form-box {
    max-width: 500px;
        padding: 10px 20px;
        background: #f4f7f8;
        margin: 10px auto;
        padding: 20px;
        background: #f4f7f8;
        border-radius: 8px;
        font-family: Georgia, "Times New Roman", Times, serif;
}

.mainform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left !important;
}

.form-box label {
    display: inline-grid;
    margin-bottom: 8px;
    justify-items: center;
}

.form-box input, textarea {
    font-family: Georgia, "Times New Roman", Times, serif;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    color: white;
    background-color: #aa8676;
}

.form-box input::placeholder {
    color: white;
    opacity: 1;
}

.form-box textarea::placeholder {
    color: white;
    opacity: 1;
}

.form-box input[type=submit] {
    color: white;
    background-color: #aa8676;
    position: relative;
        display: block;
        padding: 19px 39px 18px 39px;

        margin: 0 auto;

        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        /* border: 1px solid #aa8676; */
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
}

.form-box input[type="submit"]:hover {
    background: #c1aa93;
}

.form-box input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

.radio-label
{
    font-size: 15px !important;
 
}

.form-box input[type=checkbox],
input.checkbox {
    display: inline !important;
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}